<div class="row">
    <section class="opening">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 intro-tex">
                    <div class="row content text-center mobile-app-hidden">
                        <div class="vcenter col-md-9">
                            <div class="introduction last">
                                <h1 class="header-a">Chợ Bitcoin Remitano</h1>
                                <p><span>Nơi mua bán Bitcoin <strong>AN TOÀN</strong> và <strong>NHANH CHÓNG</strong></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="row content price-content text-center">
                        <div class="col-xs-6">
                            <h4>GIÁ BÁN</h4>
                            <strong class="text-success">152,444,523 VND</strong>
                            <br>
                            <a class="btn btn-success" href="/vn/quick/buy-bitcoin">Mua ngay</a>
                        </div>
                        <div class="col-xs-6">
                            <h4>GiÁ MUA</h4>
                            <strong class="text-danger">149,191,054 VND</strong>
                            <br>
                            <a class="btn btn-danger" href="/vn/quick/sell-bitcoin">Bán Ngay</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 how-to-video mobile-app-hidden">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="555" height="312" src="https://www.youtube.com/embed/pV7d4fzPEKc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>