<div class="row buy-offers">

    <div class="offers-price-ladder">
        <div class="row">
            <div class="col-sm-8">
                <div class="title-accent">
                    <h3><span>Danh sách người mua</span></h3>
                </div>
                <div class="checkbox offers-show-offline checkbox__style3 checkbox__custom">
                    <label>
                        <input type="checkbox" name="offers_display_offline" value="on">
                        <span>Hiển thị cả người mua đang offline</span>
                    </label>
                </div>
            </div>
        </div>

        <div>
            <div>
                <div class="loading-container text-center"><div class="loading-bar"></div></div>
                <div class="content-wrapper">
                    <div class="main-container">
                        <ol class="offerlist buy-offers-price-ladders">
                            <li class="offer">
                                <div class="offer-wrapper buy-offer has-fiat offer-575524">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-9 text-left">
                                            <a class="offer-body-meta" href="/vn/offers/575524-bán-bitcoin-giá-tốt-với-VND-tại-Việt-Nam-qua-Vietcombank-từ-huulinh1988">
                                                <div class="offer-body">
                                                    <strong class="offer-price text-danger">
                                                        <span>150,162,421 VND</span>/<span class="text-btc-color">BTC</span>
                                                    </strong>
                                                    <span> qua </span><span><span>Chuyển khoản ngân hàng</span><span>Vietcomban</span></span>
                                                </div>
                                                <div class="offer-meta">
                                                    <span>Tối đa</span>:<strong><span>0.02268992</span><span>BTC</span></strong>
                                                </div>
                                            </a>
                                            <div class="offer-meta">
                                                <div class="offer-author">
                                                    <a href="/vn/profile/huulinh1988">
                                                        <strong class="offer-item-username">
                                                            <span class="text-primary icon-ok-circled"></span>
                                                            <span>huulinh1988</span>
                                                        </strong>
                                                    </a>
                                                    <em class="trust-badge badge badge-primary">giao dịch tức thì</em>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 text-right hidden-xs">
                                            <a class="btn btn-default" href="/vn/offers/575524-bán-bitcoin-giá-tốt-với-VND-tại-Việt-Nam-qua-Vietcombank-từ-huulinh1988">Bán</a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="offer">
                                <div class="offer-wrapper buy-offer has-fiat offer-575524">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-9 text-left">
                                            <a class="offer-body-meta" href="/vn/offers/575524-bán-bitcoin-giá-tốt-với-VND-tại-Việt-Nam-qua-Vietcombank-từ-huulinh1988">
                                                <div class="offer-body">
                                                    <strong class="offer-price text-danger">
                                                        <span>150,162,421 VND</span>/<span class="text-btc-color">BTC</span>
                                                    </strong>
                                                    <span> qua </span><span><span>Chuyển khoản ngân hàng</span><span>Vietcomban</span></span>
                                                </div>
                                                <div class="offer-meta">
                                                    <span>Tối đa</span>:<strong><span>0.02268992</span><span>BTC</span></strong>
                                                </div>
                                            </a>
                                            <div class="offer-meta">
                                                <div class="offer-author">
                                                    <a href="/vn/profile/huulinh1988">
                                                        <strong class="offer-item-username">
                                                            <span class="text-primary icon-ok-circled"></span>
                                                            <span>huulinh1988</span>
                                                        </strong>
                                                    </a>
                                                    <em class="trust-badge badge badge-primary">giao dịch tức thì</em>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 text-right hidden-xs">
                                            <a class="btn btn-default" href="/vn/offers/575524-bán-bitcoin-giá-tốt-với-VND-tại-Việt-Nam-qua-Vietcombank-từ-huulinh1988">Bán</a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="offer">
                                <div class="offer-wrapper buy-offer has-fiat offer-575524">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-9 text-left">
                                            <a class="offer-body-meta" href="/vn/offers/575524-bán-bitcoin-giá-tốt-với-VND-tại-Việt-Nam-qua-Vietcombank-từ-huulinh1988">
                                                <div class="offer-body">
                                                    <strong class="offer-price text-danger">
                                                        <span>150,162,421 VND</span>/<span class="text-btc-color">BTC</span>
                                                    </strong>
                                                    <span> qua </span><span><span>Chuyển khoản ngân hàng</span><span>Vietcomban</span></span>
                                                </div>
                                                <div class="offer-meta">
                                                    <span>Tối đa</span>:<strong><span>0.02268992</span><span>BTC</span></strong>
                                                </div>
                                            </a>
                                            <div class="offer-meta">
                                                <div class="offer-author">
                                                    <a href="/vn/profile/huulinh1988">
                                                        <strong class="offer-item-username">
                                                            <span class="text-primary icon-ok-circled"></span>
                                                            <span>huulinh1988</span>
                                                        </strong>
                                                    </a>
                                                    <em class="trust-badge badge badge-primary">giao dịch tức thì</em>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 text-right hidden-xs">
                                            <a class="btn btn-default" href="/vn/offers/575524-bán-bitcoin-giá-tốt-với-VND-tại-Việt-Nam-qua-Vietcombank-từ-huulinh1988">Bán</a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="offer">
                                <div class="offer-wrapper buy-offer has-fiat offer-575524">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-9 text-left">
                                            <a class="offer-body-meta" href="/vn/offers/575524-bán-bitcoin-giá-tốt-với-VND-tại-Việt-Nam-qua-Vietcombank-từ-huulinh1988">
                                                <div class="offer-body">
                                                    <strong class="offer-price text-danger">
                                                        <span>150,162,421 VND</span>/<span class="text-btc-color">BTC</span>
                                                    </strong>
                                                    <span> qua </span><span><span>Chuyển khoản ngân hàng</span><span>Vietcomban</span></span>
                                                </div>
                                                <div class="offer-meta">
                                                    <span>Tối đa</span>:<strong><span>0.02268992</span><span>BTC</span></strong>
                                                </div>
                                            </a>
                                            <div class="offer-meta">
                                                <div class="offer-author">
                                                    <a href="/vn/profile/huulinh1988">
                                                        <strong class="offer-item-username">
                                                            <span class="text-primary icon-ok-circled"></span>
                                                            <span>huulinh1988</span>
                                                        </strong>
                                                    </a>
                                                    <em class="trust-badge badge badge-primary">giao dịch tức thì</em>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 text-right hidden-xs">
                                            <a class="btn btn-default" href="/vn/offers/575524-bán-bitcoin-giá-tốt-với-VND-tại-Việt-Nam-qua-Vietcombank-từ-huulinh1988">Bán</a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="offer">
                                <div class="offer-wrapper buy-offer has-fiat offer-575524">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-9 text-left">
                                            <a class="offer-body-meta" href="/vn/offers/575524-bán-bitcoin-giá-tốt-với-VND-tại-Việt-Nam-qua-Vietcombank-từ-huulinh1988">
                                                <div class="offer-body">
                                                    <strong class="offer-price text-danger">
                                                        <span>150,162,421 VND</span>/<span class="text-btc-color">BTC</span>
                                                    </strong>
                                                    <span> qua </span><span><span>Chuyển khoản ngân hàng</span><span>Vietcomban</span></span>
                                                </div>
                                                <div class="offer-meta">
                                                    <span>Tối đa</span>:<strong><span>0.02268992</span><span>BTC</span></strong>
                                                </div>
                                            </a>
                                            <div class="offer-meta">
                                                <div class="offer-author">
                                                    <a href="/vn/profile/huulinh1988">
                                                        <strong class="offer-item-username">
                                                            <span class="text-primary icon-ok-circled"></span>
                                                            <span>huulinh1988</span>
                                                        </strong>
                                                    </a>
                                                    <em class="trust-badge badge badge-primary">giao dịch tức thì</em>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 text-right hidden-xs">
                                            <a class="btn btn-default" href="/vn/offers/575524-bán-bitcoin-giá-tốt-với-VND-tại-Việt-Nam-qua-Vietcombank-từ-huulinh1988">Bán</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class>
                <ul class="pagination-sm pagination">
                    <li class="pagination-prev disabled">
                        <a tabindex="0">Trang trước</a>
                    </li>
                    <li class="hidden"><a tabindex="0" aria-label="Page 1 is your current page" aria-current="page">1</a></li>
                    <li class="pagination-next">
                        <a tabindex="0">Trang sau</a>
                    </li>
                </ul>
            </div>
        </div>


    </div>
</div>