<div class="alert alert-info">
    <div class="user-referral-program referral-landing">
        <div class="text-center prelude">
            <span><span>Nhận ngay <b>1,500,000 VND</b> cho mỗi một người được bạn giới thiệu tham gia Remitano.</span></span>
            <span>Chia sẻ liên kết sau:</span>
        </div>
        <div class="text-center">
            <a class="btn btn-primary btn-sm" href="/vn/login">Đăng nhập để lấy link giới thiệu</a>
        </div>
    </div>
    <p class="text-center"><a href="/vn/referral_program">Tìm hiểu thêm</a></p>
</div>