<div>
    <div>
        <div class="loading-container text-center">
            <div class="loading-bar"></div>
        </div>

        <div>
            <div class="featured-trade-feedbacks">
                <div class="title-section text-center">
                    <hr class="hr-over">
                    <span class="title-text">Khách hàng của chúng tôi đã nói</span>
                </div>

                <div class="row row-eq-height">

                    <div class="feedback col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="icon-box circled received-feedback">
                            <div class="positive icon">
                                <i class="icon-emo-happy fa"></i>
                            </div>
                            <div class="icon-box-body">
                                <strong></strong>
                                <a href="/vn/profile/nhadautu94">nhadautu94</a>&gt;
                                <a href="/vn/profile/minhtam271987">minhtam271987</a>
                                <br>
                                <span>chỉ mất 3s,thật không thể tin nổi</span>
                            </div>
                        </div>
                    </div>

                    <div class="feedback col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="icon-box circled received-feedback">
                            <div class="positive icon">
                                <i class="icon-emo-happy fa"></i>
                            </div>
                            <div class="icon-box-body">
                                <strong></strong>
                                <a href="/vn/profile/nhadautu94">nhadautu94</a>&gt;
                                <a href="/vn/profile/minhtam271987">minhtam271987</a>
                                <br>
                                <span>chỉ mất 3s,thật không thể tin nổi</span>
                            </div>
                        </div>
                    </div>

                    <div class="feedback col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="icon-box circled received-feedback">
                            <div class="positive icon">
                                <i class="icon-emo-happy fa"></i>
                            </div>
                            <div class="icon-box-body">
                                <strong></strong>
                                <a href="/vn/profile/nhadautu94">nhadautu94</a>&gt;
                                <a href="/vn/profile/minhtam271987">minhtam271987</a>
                                <br>
                                <span>chỉ mất 3s,thật không thể tin nổi</span>
                            </div>
                        </div>
                    </div>

                    <div class="feedback col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="icon-box circled received-feedback">
                            <div class="positive icon">
                                <i class="icon-emo-happy fa"></i>
                            </div>
                            <div class="icon-box-body">
                                <strong></strong>
                                <a href="/vn/profile/nhadautu94">nhadautu94</a>&gt;
                                <a href="/vn/profile/minhtam271987">minhtam271987</a>
                                <br>
                                <span>chỉ mất 3s,thật không thể tin nổi</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="text-center">
        <ul class="pagination-sm pagination">
            <li class="pagination-prev disabled">
                <a tabindex="0">Trang trước</a>
            </li>
            <li class="hidden"><a tabindex="0" aria-label="Page 1 is your current page" aria-current="page">1</a></li>
            <li class="pagination-next">
                <a tabindex="0">Trang sau</a>
            </li>
        </ul>
    </div>
</div>